<div
  class="scritpt-container-item flex flex-col mx-auto rounded-md bg-gris-2 w-[420px] h-[386px]"
>
  <div class="pb-2 h-[251px] rounded-t-md">
    <img
      class="w-full h-full rounded-t-md"
      src="https://media.tenor.com/OCAVH-SFsM8AAAAe/it%27s-fine-im-fine.png"
      alt=""
    />
  </div>

  <div class="px-4 pt-1">
    <h4 class="profile-container-title text-nowrap overflow-hidden truncate">
      Inteligencia Artificial en la Ingeniería Civil y construccion
    </h4>
    <div class="profile-container-public-date -mt-3 text-gray-500">
      <span>Publicado</span>
      <span class="px-1.5">•</span>
      <span>Hace 10 días</span>
    </div>
    <hr class="mt-5" />
    <div class="flex flex-row items-center justify-between py-5">
      <app-reaction-item>
        <app-svg-heart class="size-5" />
        <span class="text-xs text-gray-500">9k Me gusta</span>
      </app-reaction-item>

      <app-reaction-item>
        <app-svg-comment class="size-5 text-white" />
        <span class="text-xs text-gray-500">10 comments</span>
      </app-reaction-item>

      <app-reaction-item>
        <app-svg-view class="size-5 fill-[#8BC751]" />
        <span class="text-xs text-gray-500"> 1.5k Vistas</span>
      </app-reaction-item>

      <app-reaction-item>
        <app-svg-bookmark class="size-5 fill-[#381187]" />
        <span class="text-xs text-gray-500">3.6k</span>
      </app-reaction-item>
    </div>
  </div>
</div>
