<div
  class="w-[400px] m-auto max-w-lg p-4 bg-[#F0EFFF] border border-[#7837DD] border-opacity-30 rounded-lg shadow sm:p-6 md:p-8 dark:bg-gray-800 dark:border-gray-700"
>
  <form [formGroup]="currencyForm" (ngSubmit)="onSubmit()">
    <div class="mb-4">
      <label
        for="currency_name"
        class="block mb-1 text-[10px] font-medium text-gray-900 dark:text-white"
        >Nombre de la moneda</label
      >
      <input
        type="text"
        id="currency_name"
        formControlName="currency_name"
        class="form-control bg-transparent border text-gray-900 text-[10px] placeholder:text-main-purple placeholder:text-opacity-50 border-main-purple rounded-lg focus:ring-main-purple focus:border-main-purple block w-full p-1.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400"
        placeholder="Nombre de la moneda"
        required
      />
      @if(currencyForm.get('currency_name')?.hasError('required') &&
      currencyForm.get('currency_name')?.touched){
      <div class="form-error text-red-700">Complete el campo</div>
      }
    </div>

    <div>
      <button
        type="submit"
        class="bg-main-purple mt-5 hover:opacity-95 text-white border border-main-purple text-[10px] rounded-lg focus:border-white block w-full p-1.5"
      >
        Registrar
      </button>
      <button
        type="button"
        (click)="onClose()"
        class="bg-main-purple mt-5 hover:opacity-95 text-white border border-main-purple text-[10px] rounded-lg focus:border-white block w-full p-1.5"
      >
        Cancelar
      </button>
    </div>
  </form>
</div>
