<div
  class="w-full m-auto max-w-lg p-4 bg-[#F0EFFF] border border-[#7837DD] border-opacity-30 rounded-lg shadow sm:p-6 md:p-8 dark:bg-gray-800 dark:border-gray-700"
>
  <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
    <div class="grid gap-x-6 gap-y-2 md:grid-cols-2">
      <div>
        <label
          for="profile_Fullname"
          class="block mb-1 text-[10px] font-medium text-gray-900 dark:text-white"
          >Nombre y apellido</label
        >
        <input
          type="text"
          id="profile_Fullname"
          formControlName="profile_Fullname"
          class="form-control bg-transparent border text-gray-900 text-[10px] rounded-lg block w-full p-1.5 placeholder:text-main-purple placeholder:text-opacity-50 border-main-purple focus:ring-main-purple focus:border-main-purple"
          placeholder="Ingresar nombre y apellido"
          required
        />
        @if(userForm.get('profile_Fullname')?.hasError('required') &&
        userForm.get('profile_Fullname')?.touched){
        <div class="form-error text-red-700">Complete el campo</div>
        }
      </div>

      <div>
        <label
          for="profile_Gender"
          class="block mb-1 text-[10px] font-medium text-gray-900 dark:text-white"
          >Sexo</label
        >
        <select
          id="profile_Gender"
          formControlName="profile_Gender"
          class="form-control bg-transparent border text-opacity-50 border-main-purple focus:ring-main-purple focus:border-main-purple text-gray-900 text-[10px] rounded-lg block w-full p-1.5"
        >
          <option class="bg-[#F0EFFF] text-main-purple" selected>
            Ingresar sexo
          </option>
          <option class="bg-[#F0EFFF] text-main-purple" value="Masculino">
            Masculino
          </option>
          <option class="bg-[#F0EFFF] text-main-purple" value="Femenino">
            Femenino
          </option>
        </select>
        @if(userForm.get('profile_Gender')?.hasError('required') &&
        userForm.get('profile_Gender')?.touched){
        <div class="form-error text-red-700">Complete el campo</div>
        }
      </div>
      <div>
        <label
          for="profile_Birthdate"
          class="block mb-1 text-[10px] font-medium text-gray-900 dark:text-white"
          >Fecha de nacimiento</label
        >
        <input
          type="date"
          id="profile_Birthdate"
          formControlName="profile_Birthdate"
          class="form-control bg-transparent border text-gray-900 text-[10px] block w-full p-1.5 placeholder:text-main-purple placeholder:text-opacity-50 border-main-purple rounded-lg focus:ring-main-purple focus:border-main-purple"
          placeholder="dd/mm/yyyy"
          required
        />
        @if(userForm.get('profile_Birthdate')?.hasError('required') &&
        userForm.get('profile_Birthdate')?.touched){
        <div class="form-error text-red-700">Complete el campo</div>
        }
      </div>
    </div>
    <div class="mb-4">
      <label
        for="profile_email"
        class="block mb-1 text-[10px] font-medium text-gray-900 dark:text-white"
        >Correo electrónico</label
      >
      <input
        type="email"
        id="profile_email"
        formControlName="profile_email"
        class="form-control bg-transparent border text-gray-900 text-[10px] placeholder:text-main-purple placeholder:text-opacity-50 border-main-purple rounded-lg focus:ring-main-purple focus:border-main-purple block w-full p-1.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400"
        placeholder="Ingresar corre electrónico"
        required
      />
      @if(userForm.get('profile_email')?.hasError('required') &&
      userForm.get('profile_email')?.touched){
      <div class="form-error text-red-700">Complete el campo</div>
      }
    </div>

    @if (!editUser) {
    <div>
      <label
        for="role"
        class="block mb-1 text-[10px] font-medium text-gray-900 dark:text-white"
        >Rol</label
      >
      <select
        id="role"
        formControlName="role"
        class="form-control bg-transparent border text-opacity-50 border-main-purple focus:ring-main-purple focus:border-main-purple text-gray-900 text-[10px] rounded-lg block w-full p-1.5"
      >
        @for (item of roleList; track item.id_role) {
        <option
          class="bg-[#F0EFFF] text-main-purple"
          value="{{ item.id_role }}"
        >
          {{ item.role_name }}
        </option>
        }
      </select>
      @if(userForm.get('role')?.hasError('required') &&
      userForm.get('role')?.touched){
      <div class="form-error text-red-700">Complete el campo</div>
      }
    </div>
    }

    <div class="relative">
      <label
        for="profile_password"
        class="block mb-1 text-[10px] font-medium text-gray-900 dark:text-white"
        >Contraseña</label
      >
      <input
        type="password"
        id="profile_password"
        formControlName="profile_password"
        class="form-control bg-transparent border text-gray-900 text-[10px] rounded-lg block w-full p-1.5 placeholder:text-main-purple placeholder:text-opacity-50 border-main-purple focus:ring-main-purple focus:border-main-purple"
        placeholder="•••••••••"
        required
      />
      @if(userForm.get('profile_password')?.hasError('required') &&
      userForm.get('profile_password')?.touched){
      <div class="form-error text-red-700">Complete el campo</div>
      }
      <button>
        <app-svg-view-password
          class="absolute text-main-purple w-5 right-[5%] top-[42%] z-10"
        />
      </button>
    </div>
    <div class="relative">
      <label
        for="confirm_password"
        class="block mb-1 text-[10px] font-medium text-gray-900 dark:text-white"
        >Confirmar contraseña</label
      >
      <input
        type="password"
        id="confirm_password"
        class="bg-transparent border text-gray-900 text-[10px] rounded-lg block w-full p-1.5 placeholder:text-main-purple placeholder:text-opacity-50 border-main-purple focus:ring-main-purple focus:border-main-purple"
        placeholder="•••••••••"
        required
      />
      @if(userForm.get('fullname')?.hasError('required') &&
      userForm.get('fullname')?.touched){
      <div class="form-error text-red-700">Complete el campo</div>
      }
      <button>
        <app-svg-view-password
          class="absolute text-main-purple w-5 right-[5%] top-[42%] z-10"
        />
      </button>
    </div>
    <div class="flex items-center mb-4">
      <div class="flex items-center h-5">
        <input
          id="remember"
          type="checkbox"
          value=""
          class="remember w-4 h-4 border border-main-purple focus:ring-transparent rounded bg-transparent"
          required
        />
      </div>
      <label
        for="remember"
        class="ms-2 text-[10px] font-medium text-gray-900 dark:text-gray-300"
        >Estoy de acuerdo con los
        <a href="#" class="text-main-purple underline"
          >términos y condiciones.</a
        ></label
      >
    </div>
    <div>
      <button
        type="submit"
        class="bg-main-purple hover:opacity-95 text-white border border-main-purple text-[10px] rounded-lg focus:border-white block w-full p-1.5"
      >
        Registrar
      </button>
      <button
        type="button"
        (click)="onClose()"
        class="bg-main-purple mt-5 hover:opacity-95 text-white border border-main-purple text-[10px] rounded-lg focus:border-white block w-full p-1.5"
      >
        Cancelar
      </button>
    </div>
    <div>
      <h5 class="text-center pt-3">Continuar con</h5>
      <div class="flex flex-row justify-center gap-x-5">
        <div class="rounded-full size-6 content-center bg-black bg-opacity-90">
          <app-svg-apple class="size-4 mx-auto pb-0.5" />
        </div>
        <app-svg-google class="size-6" />
      </div>
    </div>
  </form>
</div>
