.welcome-text {
  font-family: "Ruberoid-Regular";
}
.log-in-text {
  font-family: "Ruberoid-Medium";
}

.a {
  font-family: "PlusJakartaSans-Medium";
}
.register-container,
p {
  font-family: "PlusJakartaSans-Regular";
}
