<div
  class="w-[400px] m-auto max-w-lg p-4 bg-[#F0EFFF] border border-[#7837DD] border-opacity-30 rounded-lg shadow sm:p-6 md:p-8 dark:bg-gray-800 dark:border-gray-700"
>
  <form [formGroup]="planForm" (ngSubmit)="onSubmit()">
    <div class="mb-4">
      <label
        for="plan_name"
        class="block mb-1 text-[10px] font-medium text-gray-900 dark:text-white"
        >Nombre del plan</label
      >
      <input
        type="text"
        id="plan_name"
        formControlName="plan_name"
        class="form-control bg-transparent border text-gray-900 text-[10px] placeholder:text-main-purple placeholder:text-opacity-50 border-main-purple rounded-lg focus:ring-main-purple focus:border-main-purple block w-full p-1.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400"
        placeholder="Nombre del plan"
        required
      />
      @if(planForm.get('plan_name')?.hasError('required') &&
      planForm.get('plan_name')?.touched){
      <div class="form-error text-red-700">Complete el campo</div>
      }
    </div>

    <div class="mb-4">
      <label
        for="plan_description"
        class="block mb-1 text-[10px] font-medium text-gray-900 dark:text-white"
        >Descripcion del plan</label
      >
      <input
        type="text"
        id="plan_description"
        formControlName="plan_description"
        class="form-control bg-transparent border text-gray-900 text-[10px] placeholder:text-main-purple placeholder:text-opacity-50 border-main-purple rounded-lg focus:ring-main-purple focus:border-main-purple block w-full p-1.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400"
        placeholder="Descripcion del plan"
        required
      />
      @if(planForm.get('plan_description')?.hasError('required') &&
      planForm.get('plan_description')?.touched){
      <div class="form-error text-red-700">Complete el campo</div>
      }
    </div>

    <div class="mb-4">
      <label
        for="plan_price"
        class="block mb-1 text-[10px] font-medium text-gray-900 dark:text-white"
        >Precio del plan</label
      >
      <input
        type="number"
        id="plan_price"
        formControlName="plan_price"
        class="form-control bg-transparent border text-gray-900 text-[10px] placeholder:text-main-purple placeholder:text-opacity-50 border-main-purple rounded-lg focus:ring-main-purple focus:border-main-purple block w-full p-1.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400"
        placeholder="Precio del plan"
        required
      />
      @if(planForm.get('plan_price')?.hasError('required') &&
      planForm.get('plan_price')?.touched){
      <div class="form-error text-red-700">Complete el campo</div>
      }
    </div>

    <div>
      <button
        type="submit"
        class="bg-main-purple mt-5 hover:opacity-95 text-white border border-main-purple text-[10px] rounded-lg focus:border-white block w-full p-1.5"
      >
        Registrar
      </button>
      <button
        type="button"
        (click)="onClose()"
        class="bg-main-purple mt-5 hover:opacity-95 text-white border border-main-purple text-[10px] rounded-lg focus:border-white block w-full p-1.5"
      >
        Cancelar
      </button>
    </div>
  </form>
</div>
