<button
  type="button"
  class="fixed z-50 bottom-0 right-0 justify-between inline-flex items-center px-4 py-1.5 mb-2 w-60 text-sm font-medium text-center text-white bg-main-purple rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300"
>
  <div class="flex items-center gap-x-2">
    <div relative>
      <img
        class="size-8 rounded-full"
        src="https://github.com/lucianets.png"
        alt="user photo"
      />
      <app-svg-point
        class="absolute bottom-0 size-5 right-0-[5%] fill-green-800 stroke-white"
      />
    </div>
    <span>Mensajes</span>
    <span
      class="inline-flex items-center justify-center w-5 h-5 text-xs text-white bg-red-700 rounded-full"
    >
      10
    </span>
  </div>
  <div class="flex">
    <div class="flex items-center">
      <app-svg-point class="size-2 fill-white" />
      <app-svg-point class="size-2 fill-white" />
      <app-svg-point class="size-2 fill-white" />
    </div>
    <i class="fa fa-angle-up text-lg ps-1"></i>
  </div>
</button>
