<div
  class="scritpt-container-item flex flex-col mx-auto rounded-md bg-gris-2 w-[331px] h-[376px]"
>
  <a
    [routerLink]="['/scripts', '{{ script.script_name }}']"
    class="pb-2 h-[251px] rounded-t-md"
  >
    <img
      class="w-full h-full rounded-t-md"
      src="{{ script.script_multimedia }}"
      alt=""
    />
  </a>

  <div class="px-4 pt-1">
    <h4 class="script-title text-nowrap overflow-hidden truncate">
      {{ script.script_name }}
    </h4>
    <div class="-mt-3 text-xs text-gray-500">
      <span>Publicado</span>
      <span class="px-1.5">•</span>
      <span>Hace 10 días</span>
    </div>
    <hr class="mt-5" />
    <div class="flex flex-row items-center justify-between">
      <button
        type="button"
        class="flex flex-row gap-y-2 text-sm items-center text-white py-4 w-24 rounded-full md:me-0 dark:focus:ring-gray-600"
      >
        <img
          class="size-6 rounded-full"
          src="{{ script.profile.profile_image }}"
          alt="user photo"
        />
        <div class="flex flex-row items-center">
          <span
            class="script-author ms-2 w-[95px] truncate overflow-hidden text-black"
            >{{ script.profile.profile_Fullname }}</span
          >
        </div>
      </button>

      <div class="flex flex-row gap-x-[14px]">
        <app-reaction-item>
          <app-svg-heart class="size-5" />
          <span class="text-xs text-gray-500">9k </span>
        </app-reaction-item>

        <app-reaction-item>
          <app-svg-comment class="size-5 text-white" />
          <span class="text-xs text-gray-500">10 </span>
        </app-reaction-item>

        <app-reaction-item>
          <app-svg-view class="size-5 fill-[#8BC751]" />
          <span class="text-xs text-gray-500"> 1.5k </span>
        </app-reaction-item>
      </div>
    </div>
  </div>
</div>
