<div class="script-content border-[1px] rounded-md">
  <div
    class="py-[13px] px-[30px] flex justify-between items-center border-b-[1px]"
  >
    <div>
      <span class="truncate w-[10px]">Automatizacion de pruebas/</span>
      <span>Modelo ETABS/</span>
      <span>Registros/</span>
      <span>Automate.py</span>
    </div>
    <div class="flex flex-row gap-x-[15px] items-center">
      <div>
        <span>112 lines</span>
        <span> - </span>
        <span>54 kbps</span>
      </div>
      <app-svg-copy class="size-[23px] fill-transparent stroke-main-purple" />
      <app-svg-download class="size-[23px] fill-main-purple" />
    </div>
  </div>

  <div class="w-[731px] h-[719px] m-auto px-[10px] bg-black rounded-b-md">
    <p>xd</p>
  </div>
</div>
