<div class="bg-white">
  <app-upload-script-view />
</div>

<app-home />
<app-scripts-slider />
<app-main-container class="relative">
  <button
    data-drawer-target="separator-sidebar"
    data-drawer-toggle="separator-sidebar"
    aria-controls="separator-sidebar"
    type="button"
    class="inline-flex items-center p-2 mt-2 ms-3 text-sm text-gray-500 rounded-lg sm:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
  >
    <span class="sr-only">Open sidebar</span>
    <svg
      class="w-6 h-6"
      aria-hidden="true"
      fill="currentColor"
      viewBox="0 0 20 20"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        clip-rule="evenodd"
        fill-rule="evenodd"
        d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zm0 10.5a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5a.75.75 0 01-.75-.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10z"
      ></path>
    </svg></button
></app-main-container>

<hr class="bg-gris-1" />

<app-main-container>
  <div class="flex flex-row justify-between py-2">
    <div class="flex flex-row gap-x-4">
      <app-button class="text-white bg-main-purple rounded-md">
        <app-svg-filter />
        <span>Filtros</span>
      </app-button>
      <app-button class="text-white bg-main-purple rounded-md">
        <app-sgv-trash />
        <span>Limpiar</span>
      </app-button>
    </div>
    <app-button
      (click)="openModel()"
      class="text-white bg-main-purple rounded-md"
    >
      <span>Subir código</span>
      <app-svg-upload />
    </app-button>
  </div>
</app-main-container>

<hr class="bg-gris-1" />

<div class="w-[1440px] px-[50px] bg-white">
  <div class="grid grid-cols-[1fr_4fr]">
    <app-aside-filter />
    <div class="mt-[60px]">
      <app-scripts-container />
    </div>
  </div>
</div>

<app-model [isOpen]="isModelOpen" (closeModel)="closeModel()">
  <app-script-form
    (onCloseModel)="closeModel()"
    [data]="script"
    [editUser]="editScript"
  ></app-script-form>
</app-model>
