<nav class="bg-gray-50 dark:bg-gray-700">
  <div class="max-w-screen-xl px-4 py-4 mx-auto">
    <div class="flex items-center">
      <ul
        class="flex flex-row font-medium mt-0 space-x-8 rtl:space-x-reverse text-sm"
      >
        <li>
          <a
            routerLink="/scripts"
            class="flex items-center gap-x-4 text-gray-900 dark:text-white hover:underline"
          >
            <app-svg-script class="size-6" />
            <span class="pt-1">Scripts</span>
          </a>
        </li>
        <li>
          <a
            routerLink="/feed"
            class="flex items-center gap-x-4 text-gray-900 dark:text-white hover:underline"
          >
            <app-svg-home class="size-6" />
            <span class="pt-1">Feed</span>
          </a>
        </li>
        <li>
          <a
            routerLink="/profile"
            class="flex items-center gap-x-4 text-gray-900 dark:text-white hover:underline"
          >
            <app-svg-profile class="size-6" />
            <span class="pt-1">Perfil</span>
          </a>
        </li>
        <li>
          <a
            routerLink="/courses"
            class="flex items-center gap-x-4 text-gray-900 dark:text-white hover:underline"
          >
            <app-svg-courses class="size-6" />
            <span class="pt-1">Cursos</span>
          </a>
        </li>
        <li>
          <a
            routerLink="/blog"
            class="flex items-center gap-x-4 text-gray-900 dark:text-white hover:underline"
          >
            <app-svg-blog class="size-6" />
            <span class="pt-1">Blog</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <hr class="border-medium-gray sm:mx-auto dark:border-gray-700" />
</nav>
