.dropdown-example::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: #ddd;
  border-radius: 4px;
}

.dropdown-example::-webkit-scrollbar-thumb {
  background-color: #aaa;
  border-radius: 4px;
}

.dropdown-example::-webkit-scrollbar-thumb:hover {
  background-color: #777;
  border-radius: 4px;
}

.category-name {
  font-family: "plusjakartasans-SemiBold";
  font-size: 14px;
}
