<div
  class="card-profil-container w-[420px] h-[254px] bg-white rounded-md px-9 py-4"
>
  <h3 class="text-main-purple">Experiencia</h3>
  <div class="flex flex-col h-28">
    <span class="card-profile-title text-base"
      >Desarrollador BIM Estructural</span
    >
    <span class="card-profile-description text-sm"
      >GEN+ · Contrato de prácticas</span
    >
    <span class="card-profile-description text-sm"
      >ene. 2024 - actualidad · 2 meses</span
    >
  </div>
  <button class="pt-4 text-main-purple flex flex-row items-center">
    Mostrar todo <app-svg-arrow-right class="items-center ms-1.5 size-5" />
  </button>
</div>
